@{
    ViewData["Title"] = "Home Page";
}

<article>
    <h2>Viaje con mi Mascota</h2>
    <img src="https://static.fundacion-affinity.org/cdn/farfuture/PVbbIC-0M9y4fPbbCsdvAD8bcjjtbFc0NSP3lRwlWcE/mtime:1643275542/sites/default/files/los-10-sonidos-principales-del-perro.jpg" alt="Foto del viaje con mi mascota" style="width:300px;height:auto;">
    <p>El verano pasado, llevé a Max a la playa. Fue una aventura increíble llena de sol, arena y muchas caminatas junto al mar.</p>
</article>