@{
    ViewData["Title"] = "Home Page";
}

<article>
    <h2>Bella</h2>
    <img src="https://static.fundacion-affinity.org/cdn/farfuture/PVbbIC-0M9y4fPbbCsdvAD8bcjjtbFc0NSP3lRwlWcE/mtime:1643275542/sites/default/files/los-10-sonidos-principales-del-perro.jpg" alt="Foto del viaje con mi mascota" style="width:300px;height:auto;">
    <p>Bella es una Golden Retriever de seis años, conocida por su naturaleza amigable y su pelaje dorado y brillante que siempre parece estar en perfecto estado. Su personalidad radiante y juguetona la convierte en el centro de atención en cualquier lugar al que vaya. Bella tiene una forma especial de alegrar los días de todos a su alrededor con su entusiasmo inagotable y su amor incondicional. Es una mascota increíblemente leal y cariñosa, siempre dispuesta a recibir y ofrecer afecto. Sus travesuras y su energía contagiosa llenan la casa de alegría y risas, haciendo que cada día con ella sea una experiencia llena de amor y diversión.</p>
</article>