@{
    ViewData["Title"] = "Home Page";
}

<article>
    <h2>Viaje con mi Mascota</h2>
    <img src="https://static.fundacion-affinity.org/cdn/farfuture/PVbbIC-0M9y4fPbbCsdvAD8bcjjtbFc0NSP3lRwlWcE/mtime:1643275542/sites/default/files/los-10-sonidos-principales-del-perro.jpg" alt="Foto del viaje con mi mascota" style="width:300px;height:auto;">
    <p>El verano pasado, decidimos llevar a Bella, nuestra alegre Golden Retriever, a una escapada a la costa de Oregon. Planeamos cuidadosamente el viaje, asegurándonos de que Bella tuviera todo lo que necesitaba para estar cómoda y segura. Empacamos su cama, una buena cantidad de agua y comida, y por supuesto, sus juguetes favoritos.
    El viaje en coche fue un deleite. Bella se sentó en el asiento del pasajero, su cabeza asomando por la ventana mientras disfrutaba de la brisa fresca y el cambio de paisajes. Cada vez que pasábamos por campos verdes o a lo largo de ríos, sus ojos brillaban con emoción y curiosidad.
    Al llegar a la costa, Bella estaba ansiosa por explorar. Fuimos a una playa amigable para perros, y Bella no perdió tiempo en correr hacia el mar, sus patas levantando arena mientras saltaba con alegría. El sonido de las olas rompiendo en la orilla y el viento salado no hacían más que aumentar su entusiasmo. Pasó horas corriendo tras las olas, nadando en el agua y jugando con otros perros que se encontraban allí.
    Durante las tardes, nos instalamos en una cabaña cerca de la playa. Bella se adaptó rápidamente al ambiente relajado, y disfrutó de largas siestas en su cama junto a la chimenea mientras nosotros preparábamos comidas y planeábamos nuestras excursiones. También hicimos senderos cortos por los bosques cercanos, donde Bella se divertía olfateando y explorando, a menudo corriendo adelante para asegurarse de que todo estuviera bien.
    Una de las noches, preparamos una cena al aire libre y Bella se sentó a nuestro lado, esperando pacientemente por un trozo de carne que le reservamos como premio. Mirar el atardecer sobre el océano mientras Bella estaba acurrucada junto a nosotros, con la brisa marina acariciando su pelaje dorado, fue un momento perfecto que capturó la esencia de la tranquilidad y la felicidad.
    Al final del viaje, Bella estaba exhausta pero feliz. A su regreso a casa, se acomodó en su lugar favorito con un suspiro de satisfacción, claramente contenta por las aventuras vividas y el tiempo especial compartido en la playa. Este viaje no solo fortaleció nuestro vínculo con Bella, sino que también nos permitió disfrutar de la belleza natural junto a un compañero tan leal y amoroso.</p>
</article>